<div class="forecast-day">
  <div class="forecast-item date">
    {{$ctrl.formattedDate}}
  </div>
  <div class="forecast-item icon-container">
    <img ng-src="{{$ctrl.iconPath}}" class="icon">
  </div>
  <div class="forecast-item summary">
    {{$ctrl.forecastData.summary}}
  </div>
  <div class="clearfix"></div>
  <div class="forecast-item temperature">
    <div class="temperature-item">
      low: {{$ctrl.forecastData.temperatureMin}}&#176;F
    </div>
    <div class="temperature-item">
      high: {{$ctrl.forecastData.temperatureMax}}&#176;F
    </div>
  </div>
</div>