*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: Tahoma, Geneva, sans-serif;
  background-color: #DDDDDD;
}

.header {
  color: #0074D9;
}

.attribution {
  text-align: center;
}

.forecast-container {
  text-align: center;
}

.five-day-forecast {
  display: flex;
  margin: 0 auto;
  width: 85vw;
  align-items: center;
}

.forecast-day {
  border: 3px solid #7FDBFF;
  background-color: white;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

.clearfix {
  clear: both;
}

.forecast-item {
  margin-bottom: 10px;
}


@media only screen and (max-width: 1000px) {
  .five-day-forecast {
    flex-direction: column;
  }

  .forecast-day {
    width: 60vw;
  }

  .forecast-day .icon {
    width: 80px;
    float: none;
  }

  .forecast-day .summary {
    text-align: center;
  }

  .temperature-item {
    display: inline-block;
    margin-right: 10px;
  }

  .forecast-day {
    height: 225px;
  }
}

@media only screen and (min-width: 1001px) {
  .five-day-forecast {
    flex-direction: row;
  }

  .forecast-day {
    width: 17vw;
  }

  .forecast-day .icon {
    width: 65px;
    float: left;
  }

  .forecast-day .summary {
    text-align: left;
  }

  .temperature-item {
    display: block;
  }

  .forecast-day {
    height: 200px;
  }
}
