*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: Tahoma, Geneva, sans-serif;
}

.attribution {
  text-align: center;
}

.forecast-container {
  margin: 0 auto;
  width: 75vw;
  text-align: center;
}

.five-day-forecast {
  display: flex;
  margin: 0 auto;
  width: 75vw;
  align-items: center;
}


@media only screen and (max-width: 1000px) {
  .five-day-forecast {
    flex-direction: column;
  }

  .forecast-day {
    width: 60vw;
  }
}

@media only screen and (min-width: 1001px) {
  .five-day-forecast {
    flex-direction: row;
  }

  .forecast-day {
    max-width: 15vw;
  }
}

.forecast-day {
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  height: 300px;
}

.forecast-day .icon {
  width: 50px;
}

.forecast-day .summary {

}

.forecast-day .temperature {

}

.forecast-day .date {

}